.content-list{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-between;
  width: 40vw;
  color:white;
}

.scroll{

  height:55vh;
  overflow-y: auto;
  overflow-x: visible;
}

.comment{
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color:#191919;
  padding:1rem;
  margin:1rem;
  border-radius: 5px;
  border: 1px solid #171717;
  font-weight: 100;
}
.comment .soundbtn{
  outline: none !important;
  border: none ;
  border-radius:5px;
  max-width: 4rem;
  max-height: 3rem;
  padding: .5rem;
  background-color: #252525;
  margin: 0;
}

.comment .soundbtn:hover{
  background-color: #2a2a2a !important;
cursor: pointer;
}

::-webkit-scrollbar {
  width: 6px;
 
}

::-webkit-scrollbar-track {
  background-color: #101010; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color:#DA3F67;
  ; 
}

.vazio{
  margin: 2rem 0;
}